Fix leading zero problem in YAML front matter

<!--
As the RFC author, make sure to indicate if you've responded to all feedback and you're ready for the PowerShell Committee to vote on your draft. 
-->

Apparently you need to put single quotes around numbers with leading zeros in YAML, and many of our RFC numbers are probably wrong because of this. We should fix it. 


Filename
--------
RFC0003-Lexical-Strict-Mode.md
RFC0001-Mutual-Exclusion-Parameters-and-Properties.md
RFC0053-PowerShell-IoT-Module.md
RFC0005-Typed-Interprocess-communication.md
RFC0006-Universal-Parsing-and-Piping.md
RFC0007-Weak-Aliases.md
RFC0009-Glob-for-Native-Tools.md
RFC0011-Dot-Referencing-With-Static-Integers.md
RFC0002-Generalized-Splatting.md
RFC0018-Get-StringHash.md
RFC0004-PowerShell-Module-Versioning.md
RFC0049-PSModulePath.md
RFC0050-Importing-Windows-PowerShell-modules-in-PowerShell-Core.md
RFC0051-Null-conditional-operators.md
RFC0052-Notification-On-Version-Update.md

